<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CARE IT</title>
</head>

<body>
    <div class="navbarr">
        <nav>
            <div class="container-flex">
                <div class="brand">
                    <img src="../public/images/logo.png" alt="">
                    <a href="#about" class="navbar-brand">CARE IT</a>
                </div>
                <div class="burger">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="bg-sidebar"></div>
                <ul class="sidebar">
                    <li><a href="#about">Donasi</a></li>
                    <li><a href="#service">Masuk</a></li>
                    <li><a href="#contact">Daftar</a></li>
                    <li><a href="#">Materi</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main id="main">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center">Materi Ajar</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div id="materi" class="materi col-sm-12"></div>
            
        </section>
    </main>
    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <p>Care It</p>
                    <p>copyright &copy; 2021</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>